## <span style="color:blue">Notebook de Análises</span>

Este notebook tem por finalidade demonstrar o funcionamento do projeto:

- Geração do Dataset
- Transformação, limpeza e enriquecimento do dados
- Criação de gráficos pra melhor visualização dos resultados

### Geração do dataset
Import da biblioteca criada pra geração dos dados aleatórios, na desmontração foram gerados 1000 dados de vendas.

In [1]:
from dados import gerar_dados_vendas_bronze,transformar_dados_silver, carregar_dados_gold
dados_vendas_bronze = gerar_dados_vendas_bronze.gerar_dados(10000)
dados_vendas_bronze.head()

,cliente,produto,preco,categoria,quantidade,data
0,7132,smartphone,2000,Smartphones e Acessórios,4,2024-07-19
1,2588,fogao,1500,Eletrodomésticos,2,2024-08-30
2,8982,teclado,,Informática e Periféricos,1,2024-07-03
3,3927,chromecast,200,"TV, Áudio e Vídeo",3,2024-09-25
4,9604,teclado,,Informática e Periféricos,3,2025-07-19

### Tranformação, limpeza e enriquecimento dos dados.

- Remoção de valores nulos
- Organização das datas
- Remoção de duplicatas se houver
- Padronização das datas conforme a norma nacional NBR 5892:2019 "dd/mm/yyyy”
- Calcular o valor total da venda “Preço x Quantidade"

In [2]:
dados_vendas_silver = transformar_dados_silver.transformar_dados()

Registros originais: 10000
A quantidade atual de registros é 7590, foram removidos 2410 por conterem valores nulos.
A quantidade atual de registros é 7590 após a remoção de duplicatas.
As datas foram padronizadas para o formato dd/mm/yyyy.
A coluna 'valor_total' foi adicionada ao DataFrame.