## <span style="color:yellow">Notebook de Análises</span>

Este notebook tem por finalidade demonstrar o funcionamento e os resultados das análises.

Import da biblioteca criada pra geração dos dados aleatórios, na desmontração foram gerados 1000 dados de vendas.

In [1]:
from dados import gerar_dados_vendas
gerar_dados_vendas.gerar_dados(10000)

      cliente     produto  preco                 categoria        data
0        5091  smartwatch   1000  Smartphones e Acessórios  2024-06-08
1        2342    smart tv   4000         TV, Áudio e Vídeo  2024-05-02
2        1899   geladeira   5000          Eletrodomésticos  2026-01-15
3        9593       fogao   1500          Eletrodomésticos  2024-07-30
4        6469  chromecast    200         TV, Áudio e Vídeo  2025-03-28
...       ...         ...    ...                       ...         ...
9995     9870   geladeira   5000          Eletrodomésticos  2025-01-05
9996     6788    smart tv   4000         TV, Áudio e Vídeo  2024-07-23
9997      206  smartphone   2000  Smartphones e Acessórios  2025-01-29
9998     5079  smartphone   2000  Smartphones e Acessórios  2024-02-08
9999     5929  smartphone   2000  Smartphones e Acessórios  2024-07-05

[10000 rows x 5 columns]