## <span style="color:blue">__Notebook pra realizar o ETL__</span>

Este notebook tem por finalidade realizar a ETL e deixar os arquivos prontos pra uso na camada gold.

- Gera√ß√£o do Dataset
- Transforma√ß√£o, limpeza e enriquecimento do dados
- Cria√ß√£o de gr√°ficos pra melhor visualiza√ß√£o dos resultados

### __‚öôÔ∏è Gera√ß√£o do dataset__
Import da biblioteca criada pra gera√ß√£o dos dados aleat√≥rios, transforma√ß√£o e carga dos dados gerados, na desmontra√ß√£o foram gerados 1000 dados de vendas.

In [1]:
from dados import bronze, silver, gold
bronze.gerar_dados(10000)

,cliente,produto,preco,categoria,quantidade,data,cidade
0,4148,home theater,,"TV, √Åudio e V√≠deo",4,2024-11-30,Campinas
1,4478,fogao,1500.0,Eletrodom√©sticos,2,2024-07-29,Balne√°rio Cambori√∫
2,537,smartphone,2000.0,Smartphones e Acess√≥rios,5,2024-03-18,Porto Alegre
3,5457,smart tv,4000.0,"TV, √Åudio e V√≠deo",2,2026-01-16,Rio de Janeiro
4,7917,teclado,,Inform√°tica e Perif√©ricos,2,2024-07-22,Campinas
...,...,...,...,...,...,...,...
9995,6569,monitor,1500.0,Inform√°tica e Perif√©ricos,2,2024-12-10,Florian√≥polis
9996,491,micro-ondas,,Eletrodom√©sticos,5,2024-11-25,S√£o Paulo
9997,464,smart tv,4000.0,"TV, √Åudio e V√≠deo",3,2024-03-18,S√£o Paulo
9998,4728,smartwatch,1000.0,Smartphones e Acess√≥rios,1,2025-01-01,Balne√°rio Cambori√∫
9999,1208,geladeira,5000.0,Eletrodom√©sticos,4,2025-02-18,Belo Horizonte

### __üîÑ Tranforma√ß√£o, limpeza e enriquecimento dos dados__
- Remo√ß√£o de valores nulos
- Organiza√ß√£o das datas
- Remo√ß√£o de duplicatas se houver
- Padroniza√ß√£o das datas conforme a norma nacional NBR 5892:2019 "dd/mm/yyyy‚Äù
- Calcular o valor total da venda ‚ÄúPre√ßo x Quantidade"

In [2]:
dados_vendas_silver = silver.transformar_dados(caminho_entrada="output/dados_bronze.csv", 
                                               caminho_saida="output/dados_silver.csv")
dados_vendas_silver.head()

Registros originais: 10000
A quantidade atual de registros √© 7631, foram removidos 2369 por conterem valores nulos.
A quantidade atual de registros √© 7631 ap√≥s a remo√ß√£o de duplicatas.
As datas foram padronizadas para o formato dd/mm/yyyy.
As datas foram ordenadas em ordem decrescente.
A coluna 'Faturamento' foi adicionada ao DataFrame.

,cliente,produto,preco,categoria,quantidade,data,cidade,Faturamento
6108,2954,notebook,4000.0,Inform√°tica e Perif√©ricos,5,31/12/2025,Porto Alegre,20000.0
6298,8361,carregador,100.0,Smartphones e Acess√≥rios,1,31/12/2025,Joinville,100.0
5559,9296,smartphone,2000.0,Smartphones e Acess√≥rios,4,31/12/2025,Curitiba,8000.0
902,2142,fogao,1500.0,Eletrodom√©sticos,1,31/12/2025,Curitiba,1500.0
739,6377,notebook,4000.0,Inform√°tica e Perif√©ricos,2,31/12/2025,S√£o Paulo,8000.0

### __üíæ Carregamento dos dados__
Carregamento dos dados da tabela silver pra tabela gold.

In [3]:
dados_vendas_gold = gold.carregar_dados(caminho_entrada="output/dados_silver.csv", 
                                        caminho_saida="output/dados_gold.csv")
dados_vendas_gold.head()

Dados carregados com sucesso. Aqui est√£o as primeiras linhas:

,cliente,produto,preco,categoria,quantidade,data,cidade,Faturamento
0,2954,notebook,4000.0,Inform√°tica e Perif√©ricos,5,31/12/2025,Porto Alegre,20000.0
1,8361,carregador,100.0,Smartphones e Acess√≥rios,1,31/12/2025,Joinville,100.0
2,9296,smartphone,2000.0,Smartphones e Acess√≥rios,4,31/12/2025,Curitiba,8000.0
3,2142,fogao,1500.0,Eletrodom√©sticos,1,31/12/2025,Curitiba,1500.0
4,6377,notebook,4000.0,Inform√°tica e Perif√©ricos,2,31/12/2025,S√£o Paulo,8000.0